.navbarContainer{
    background:white;
    color:black;
    height: 10vh;


    .navbarTitle{
        font-weight: 800;
        font-size:1.3em;
    }

    .navLink {
        font-size:1.1em;
        color:black !important;
        font-weight: 500;
    }
}